#container {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  
  #editor-container,
  #preview-container {
    flex: 1;
    overflow: auto;
    padding: 10px;
  }
  
  #editor {
    width: 100%;
    height: 100%;
    resize: none;
  }
  
  #preview {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  
  #resizable-handle {
    cursor: ew-resize;
    width: 10px;
    background-color: #ccc;
  }
  